{% extends 'AppAdminBundle:Base:list.html.twig' %}

{% block masterHeadText %}
    <h3>{{ 'CLIENT_CONTACT' | trans }} - {{ client.firstname }} {{ client.lastname }}</h3>
{% endblock %}

{% block listGrid %}
    {% embed 'AppAdminBundle:Component:grid.html.twig' with {'grid': grid} %}

        {% block gridButtons %}
            <script id="edit-button" type="text/x-kendo-template">
                <a class="k-button k-button-icontext" href="{{ grid.editUrl }}&id=${id}">
                    <i class="k-icon k-edit"></i>{{ 'EDIT' | trans }}
                </a>
            </script>

            <script id="create-button" type="text/x-kendo-template">
                <a class="k-button k-button-icontext" href="{{ grid.createUrl }}">
                    <i class="k-icon k-add"></i>
                    {{ grid.addNewLabel | default('ADD_NEW_RECORD') | trans }}
                </a>
            </script>
        {% endblock %}

        {% block gridToolbar %}
            { name: "add", text: "{{ 'ADD_NEW_RECORD' | trans }}", template: kendo.template(jQuery("#create-button").html()) },
            { name: "export", text: "{{ 'EXPORT' | trans }}", template: kendo.template(jQuery('#export-button').html()) },
        {% endblock %}

        {% block gridFields %}
            id: { editable: false, nullable: false },
            firstname: { editable: true, nullable: true },
            lastname: { editable: true, nullable: true },
            email: { editable: true, nullable: false, validation: { required: true} },
            password: { editable: true, nullable: true }
        {% endblock %}

        {% block gridColumns %}
            { field:"id", title:"{{ 'ID' | trans }}", width: 120 },
            { field:"firstname", title:"{{ 'FIRST_NAME' | trans }}", width: 150 },
            { field:"lastname", title:"{{ 'LAST_NAME' | trans }}", width: 150},
            { field: "email", title:"{{ 'EMAIL_ADDRESS' | trans }}"},
            { field:"password", title:"{{ 'PASSWORD' | trans }}", hidden: true},
            { template: kendo.template(jQuery("#edit-button").html()), width: 115 },
            { command: "destroy", width: 100 }
        {% endblock %}

        {% block extraScript %}

        {% endblock %}
    {% endembed %}
{% endblock %}