<div id="{{ widgetElementId }}" class="half" style="height: 200px">
    <h2>
        Invoices
        <span>&laquo;&raquo;</span>
        {% include 'AppAdminBundle:Dashboard:viewby.html.twig' with {'id': widgetElementId ~ '_viewby', 'viewby': viewby } %}          
    </h2>
    <div id="{{ widgetElementId }}_graph"></div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function() {
        var invoiceStatusChart = new Highcharts.Chart({
            chart: {
                renderTo: '{{ widgetElementId }}_graph',
                type: 'pie',
                height: 170,
                width: 464,
                backgroundColor: 'transparent',
            },
            credits: {
                enabled: false
            },
            colors: ["#68c1ba", "#ffcd77", "#f27362", "#7b8ca0"],
            title: {
                text:''
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Invoices',
                data: []
            }]
        });

        // Process action
        buildWidgetViewByEvents(
            '#{{ widgetElementId }}_viewby',
            '{{ widgetUpdateUrl }}',
            '{{ idWidget }}',
            onInvoiceStatusChartPreUpdate,
            onInvoiceStatusChartPostUpdate
        );

        function onInvoiceStatusChartPreUpdate() {
            invoiceStatusChart.showLoading();
        }
        
        function onInvoiceStatusChartPostUpdate(response) {
            var series = JSON.parse(response);
            invoiceStatusChart.series[0].setData(series['data']);
            invoiceStatusChart.hideLoading();
        }
    });
</script>
