<html>
<body>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="PayPalForm" name="PayPalForm">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="{{ business }}">
    <input type="hidden" name="amount" value="{{ amount }}">
    <input type="hidden" name="item_number" value="{{ item_number }}">
    <input type="hidden" name="currency_code" value="{{ currency_code }}">
    <input type="hidden" name="notify_url" value="{{ notify_url }}">
</form>
<script>
    document.getElementById('PayPalForm').submit();
</script>
</body>
</html>